
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');*{
    padding: 0px;
    margin:1px;
}
.bodycontainer{
    height:95vh;
    box-shadow: 2px 2px 5px gray;
}
.header{
    width:100%;
    background-color:white;
    border-radius: 5px ;
    box-shadow: 2px 2px 5px gray;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.title{
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    font-weight: 800;
    color:rgb(1, 73, 167);
}
.bodycontainer{
    height:100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}
#input{
    width:85%;
    height:35px;
    margin:auto;
    border:1px solid gray;
    padding-left: 5px;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:18px;
    padding-bottom: 5px;
}
.taskContainer{
    width:85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.addButton{
    width:60px;
    height:60px;
    padding-bottom: 4px;
    color:white;
    border-radius: 50%;
    background-color:rgb(1, 73, 167);
    border:1px solid rgb(1, 73, 167);
    font-size: 30px;
    box-shadow: -2px 2px 5px gray;

}
li{
    width:100%;
    height:40px;
    border:1px solid gray;
    list-style-type: none;
    padding:6px;
    color:rgb(1, 73, 167);
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: rgb(219, 225, 230);
    margin-top:4px;
}
.delete-items{
    font-size: 15px;
    text-transform: capitalize;
    color:rgb(1, 73, 167);
    text-decoration: none;
}
.del_btn{
    visibility:hidden;
    background-color:white;
    color:red;
    font-weight: 900;
    border:1px solid white;
}